<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Database Connections Settings that connect the Messenger uses -->
    <add key="User ID" value="Rlogic" />
    <add key="Password" value="rlogic" />
    <add key="Database" value="ACR_163_MTZ" />
    <add key="Schema" value="Rlogic" />
    <add key="Server" value="Ralrisdb163" />
    <!-- The max time in seconds before a database query timesout. Default 90 seconds if not set-->
    <add key="QueryTimeOut" value="90" />
    <!-- End Database Connections Settings -->
  </appSettings>
</configuration>