<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The interval in seconds to get more jobs to process-->
    <add key="TimerInterval" value="10" />
    <!-- Log4Net Seetings-->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="NumberDaysToKeepLogs" value="10" />
    <!-- End of Log4Net Settings -->
    <!-- The number of times that the sris web url stream will be attemped to be read -->
    <!-- And the number of times the system will check if a document has been printed by adobe -->
    <!-- Note *** At some point I will have to separate the configuratio of the two retrables into two separate keys -->
    <add key="MaxRetryAttempts" value="5" />
    <!-- The location of temporary files -->
    <add key="MessageOutputLocation" value="c:/temp/messages" />
  </appSettings>
</configuration>