<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The interval in seconds to get more jobs to process-->
    <add key="TimerInterval" value="10" />
    <!-- Log4Net Seetings-->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="NumberDaysToKeepLogs" value="10" />
    <!-- End of Log4Net Settings -->
  </appSettings>
</configuration>