<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false" />
  </configSections>

  <log4net>

    <appender name="FileAppender" type="Kevins.Examples.Common.Logs.MessengerRollingFileAppender">
      <param name="File" value="c:\\temp\\logs\\Messenger.log"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <rollingStyle value="Date"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %type.%method - %newline%message%newline%newline"/>
      </layout>
    </appender>

    <appender name="FileAppenderErrorOnly" type="Kevins.Exmples.Common.Logs.MessengerRollingFileAppender">
      <param name="File" value="c:\\temp\\logs\\Messenger.ERROR.log"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <rollingStyle value="Date"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %type.%method - %newline%message%newline%newline"/>
      </layout>
      <threshold value="ERROR"/>
    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %5level [%thread] (%file:%line) - %message%newline%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="FileAppenderErrorOnly"/>
    </root>

    <category name="NHibernate">
      <level value="ERROR"/>
      <!-- or Off if you want to disable logging -->
    </category>

    <category name="NHibernate.SQL">
      <level value="OFF"/>
      <!-- or DEBUG if you want all generated SQL -->
    </category>

  </log4net>
</configuration>
